{% extends 'base.html' %}
{%load static %}
{% block title %}Crop Suggestions{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <h1 class="text-center text-success text-uppercase p-2 ">Suggest  Soil  Crop</h1>    
        {% load bootstrap4 %}                
                   <form method="post"  class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                   {% bootstrap_form form %}
                    {% buttons %}
                   <button type="submit" class="btn btn-outline-success m-2">Suggest</button>
                   {% endbuttons %}
                 </form>
    </div>
</div> 
            

{%endblock content%}
